/* fredericka-the-great-regular - latin */
@font-face {
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fredericka-the-great-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/fredericka-the-great-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/fredericka-the-great-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/fredericka-the-great-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/fredericka-the-great-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/fredericka-the-great-v13-latin-regular.svg#FrederickatheGreat') format('svg'); /* Legacy iOS */
  }

#canvas {
    background-color: black;
    background-image: url("img/9.Intro _ Outro Image/Start Screen/Opciขn 1.png");
    background-size: 720px 480px;
    background-repeat: no-repeat;
    border-radius: 12px;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("img/desert-5385998_1920.png");
    position: relative;
}

h1 {
    font-family: 'Fredericka the Great';
    color: #ee8530;
    font-size: 2.5rem;
    padding: .5rem;
}

.control-help {
    margin-top: 2rem;
    display: flex;
}

.hover-btn {
    cursor: pointer;
}

.hover-btn:hover {
    cursor: pointer;
    background-color: #ef710b;
}

.cntrl-btn {
    display: flex;
    font-family: 'Fredericka the Great';
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 3px 6px 11px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    border-radius: 12px;
    background-color: #ee8530;
    width: 48px;
    height: 48px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.endscreen {
    background-image: url("img/9.Intro _ Outro Image/_Game over_ screen/4.Game over!.png"), url("img/5.Fondo/1.png");
    background-repeat: no-repeat;
    background-size: 720px 480px;
    width: 720px;
    height: 480px;
    position: absolute;
    border-radius: 12px;
    top: 118.6px;
}

.d-none {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}




